@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 11vh;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header img {
  width: 15%;
}

header h1 {
  font-size: 1.5rem;
  display: flex;
}

header h1:hover {
  cursor: pointer;
}

header h1:hover ul {
  height: 35vh;
}

header h1 svg {
  margin-top: 2%;
  margin-left: 2%;
  transition: .3s;
}

header h1:hover svg {
  fill: #DB1935;
  rotate: 180deg;
}

header h1 ul {
  height: 0vh;
  width: 15%;
  list-style: none;
  position: absolute;
  padding: 0;
  margin-top: 3.8%;
  margin-left: -1%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  transition: .3s;
  overflow: hidden;
}

header h1 ul li {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 5vh;
}

header h1 ul li span {
  margin-left: 8%;
  font-size: 1.1rem;
  transition: .2s;
}

header h1 ul li:hover span {
  color: #DB1935;
}

.body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.body section {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.navInfo {
  width: 20%;
  height: 39.5vh;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
}

.imgArma {
  width: 60%;
  margin: 5%;
}

.nome {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.nome div {
  display: flex;
  align-items: center;
}

.tipo {
  text-align: left;
  width: 40%;
  font-size: 1rem;
}

.tipo span {
  font-size: 1rem;
  margin-left: -12%;
}

.nome div {
  font-size: 1.3rem;
}

.divName {
  display: flex;
  justify-content: left;
  width: 50%;
}

.divName span {
  margin-left: 9%;
  font-size: 1rem;
}

.preco {
  width: 100%;
  justify-content: left;
  margin-top: 3%;
}

.preco span {
  margin-left: 5%;
  font-size: 1.3rem;
  color: rgb(10, 207, 10);
}

.desc {
  width: 90%;
  display: flex;
  margin-top: 2%;
}

.desc span {
  margin-left: 0%;
  text-align: left;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(29, 29, 29);
  margin-top: 5%;
}

footer h1 {
  font-size: 1.3rem;
  color: white;
  font-weight: 300;
}

.divImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vh;
}

.btn {
  background-color: #DB1935;
  width: 90%;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  height: 4vh;
  margin-top: 5%;
  border-radius: 3px;
  transition: .3s;
}

.btn:hover {
  background-color: #f10629;
  cursor: pointer;
}